body {
  margin: 0;
  background-color: black;
}

a {
  color: white;
  text-decoration: overline;
}

a:hover {
  color: #32cd32;
  text-decoration: underline;
  text-decoration-color: #32cd32;
  text-decoration-style: bold;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 16px;
  padding-top: 40px;
  margin-left: 210px;
  z-index: 10;
}

@media only screen and (max-width: 400px) {
  nav {
    padding-top: 25px;
    margin-left: 53%;
  }
}