body {
  margin: 0;
}

.map {
  width: 100vw;
  height: 100vh;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: royalblue;
  font-family: Arial, Helvetica, sans-serif;
  margin: 8px;
  justify-content: center;
}

a:hover {
  color: green;
}

.location-icon {
  font-size: 25px;
  color: purple;
}
